body.dark {
    --background-color: var(--very-dark-desaturated-blue-dark);
    --secondary-background-color: var(--very-dark-blue-dark);
    --tertiary-background-color: var(--very-dark-grayish-blue-2-dark);
    --text-color: var(--light-grayish-blue-dark);
    --secondary-text-color: var(--dark-grayish-blue-dark);
    --done-text-color: var(--very-dark-grayish-blue-dark);
    --text-color-hover: var(--light-grayish-blue-hover-dark);
}

body {
    color: var(--text-color);
    margin: 0;
    min-height: 100vh;
    background-color: var(--secondary-background-color);
}

#root {
    min-width: clamp(20rem, 37.5vw, 100%);
    margin: 0 auto;
    padding: 0 2rem 2rem;
    text-align: center;
    font-size: 18px;

    font-family: "Josefin Sans", sans-serif;

    background-image: url("/images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: clamp(1440px, 100%, 100%) clamp(300px, 37.5vh, 100%);
}

body.dark #root {
    background-image: url("/images/bg-desktop-dark.jpg");
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    color: var(--done-text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0.6rem;
    padding-top: 7vh;
    width: clamp(20rem, 37.5vw, 100%);
}

.header-TODO {
    color: var(--white-light);
    font-size: 2.2rem;
    letter-spacing: 1.2rem;
}

.toggle-theme-button {
    cursor: pointer;
}

.todo-form {
    position: relative;
    width: clamp(20rem, 37.5vw, 100%);
    margin: auto;

    display: flex;
    align-items: center;
}

.todo-form > input {
    font-family: "Josefin Sans", sans-serif;
    color: var(--text-color);
    caret-color: var(--accent-color);
    background-color: var(--background-color);

    font-size: 1rem;
    width: calc(clamp(20rem, 37.5vw, 100%) - 5rem);
    min-height: 3.55rem;
    border: none;
    padding: 0 1rem 0 4rem;
    border-radius: 5px;
}

.todo-form > input:focus {
    outline: none;
}

.todo-form > input::placeholder {
    color: var(--secondary-text-color);
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 1rem auto 0;
    border-radius: 5px;
    background-color: var(--tertiary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: clamp(20rem, 37.5vw, 100%);

    box-shadow: 0px 0.9px 1.6px rgba(0, 0, 0, 0.005),
        0px 1.9px 3.6px rgba(0, 0, 0, 0.007),
        0px 3.4px 6.3px rgba(0, 0, 0, 0.009), 0px 5.4px 10px rgba(0, 0, 0, 0.01),
        0px 8.3px 15.5px rgba(0, 0, 0, 0.011),
        0px 13px 24.1px rgba(0, 0, 0, 0.013),
        0px 21.5px 40px rgba(0, 0, 0, 0.015), 0px 43px 80px rgba(0, 0, 0, 0.02);
}

body.dark .todo-list {
    box-shadow: 0px 3.5px 1.8px rgba(0, 0, 0, 0.18),
        0px 8.2px 4.3px rgba(0, 0, 0, 0.134),
        0px 14.7px 7.6px rgba(0, 0, 0, 0.113),
        0px 24.4px 12.7px rgba(0, 0, 0, 0.097),
        0px 40.2px 20.9px rgba(0, 0, 0, 0.083),
        0px 70.3px 36.5px rgba(0, 0, 0, 0.067),
        0px 152px 79px rgba(0, 0, 0, 0.046);
}

.todo-item {
    background-color: var(--background-color);
    width: inherit;
    min-height: 3.55rem;
    padding: 0;
    margin: 0px 0 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.todo-list > *:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.todo-checkbox-label {
    display: inline-block;
    position: relative;
    padding-left: 4rem;
    margin: 0.5rem 0 0.5rem 0rem;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;

    word-wrap: break-word;
    max-width: calc(clamp(20rem, 37.5vw, 100%) - 10rem);
}

.todo-checkbox-cross {
    margin: auto 1.5rem;
    cursor: pointer;
    display: none;
}

.todo-item:hover .todo-checkbox-cross,
.todo-item:focus .todo-checkbox-cross {
    display: block;
}

.todo-checkbox {
    cursor: pointer;
    position: absolute;
    left: 1.2rem;
    appearance: none;
    outline: none;
    width: 1.4rem;
    height: 1.4rem;
    border: 0.05rem solid var(--done-text-color);
    border-radius: 100%;
}

.todo-checkbox:hover,
.todo-checkbox:focus,
.todo-checkbox:checked {
    border: double 0.05rem transparent;
    border-radius: 100%;
    background-image: linear-gradient(
            var(--background-color),
            var(--background-color)
        ),
        var(--check-background);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.todo-checkbox:checked {
    background-image: var(--check-background);
}

.todo-checkbox:checked::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/images/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.todo-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    /* background-color: red; */
    min-height: 3.55rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.todo-count {
    font-size: 0.66rem;
    margin-left: 1.2rem;
    margin-right: auto;
    color: var(--secondary-text-color);
}

.todo-clear-completed {
    font-size: 0.66rem;
    margin-left: auto;
    margin-right: 1.2rem;
}
button {
    border: none;
    background-color: transparent;
    padding: 0.6em 1.2em;
    font-size: 0.66rem;

    font-family: inherit;
    color: var(--secondary-text-color);
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover,
button:focus {
    color: var(--text-color-hover);
}

.selected {
    color: var(--accent-color);
}

@media screen and (max-width: 768px) {
    #root {
        padding: 0 1.5rem 1.5rem;
    }
    body #root {
        background-image: url("/images/bg-mobile-light.jpg");
        background-size: 100% auto;
    }

    body.dark #root {
        background-image: url("/images/bg-mobile-dark.jpg");
    }

    header {
        padding-top: 1.5rem;
        margin-bottom: 0;
    }

    .todo-list-filter {
        background-color: var(--background-color);
        border-radius: 5px;
        margin: 1rem auto 1rem;
        padding: 1rem;
    }
}
