#root {
    min-width: clamp(20rem, 37.5vw, 100%);
    margin: 0 auto;
    padding: 0 2rem 2rem;
    text-align: center;
    font-size: 18px;

    font-family: "Josefin Sans", sans-serif;

    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(
        90deg,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
    );

    /* Light theme */

    --white: hsl(0, 0%, 100%);
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* Dark theme */

    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue-2: hsl(237, 14%, 26%);
}

body {
    color: var(--white);
    background-color: var(--very-light-gray);

    background-image: url("/images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: clamp(1440px, 100%, 100%) clamp(300px, 37.5vh, 100%);
}

body.dark {
    color: #f9f9f9;
    background-color: #1a1a1a;

    background-image: url("/images/bg-desktop-dark.jpg");
}

.strikethrough {
    text-decoration: line-through;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7vh auto 0.5rem;
}

.header-TODO {
    color: var(--white);
    font-size: 2.2rem;
    letter-spacing: 1.2rem;
}

.todo-form > input {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    min-width: clamp(20rem, 37.5vw, 100%);
    min-height: 3.55rem;
    border: none;
    padding: 0;
    border-radius: 5px;
}
.todo-list {
    list-style: none;
    padding: 0;
    border-radius: 5px;
}

.todo-item {
    background-color: var(--white);
    min-width: clamp(20rem, 37.5vw, 100%);
    min-height: 3.55rem;
    /* border: none; */
    padding: 0;
    border-color: var(--very-light-grayish-blue);
    border-style: solid;
    /* border-radius: 5px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}
