:root {
    font-size: 18px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(
        to bottom right,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
    );

    /* Light theme */

    --white-light: hsl(0, 0%, 100%);
    --very-light-gray-light: hsl(0, 0%, 98%);
    --very-light-grayish-blue-light: hsl(236, 33%, 92%);
    --light-grayish-blue-light: hsl(233, 11%, 84%);
    --dark-grayish-blue-light: hsl(236, 9%, 61%);
    --very-dark-grayish-blue-light: hsl(235, 19%, 35%);

    /* Dark theme */

    --very-dark-blue-dark: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue-dark: hsl(235, 24%, 19%);
    --light-grayish-blue-dark: hsl(234, 39%, 85%);
    --light-grayish-blue-hover-dark: hsl(236, 33%, 92%);
    --dark-grayish-blue-dark: hsl(234, 11%, 52%);
    --very-dark-grayish-blue-dark: hsl(233, 14%, 35%);
    --very-dark-grayish-blue-2-dark: hsl(237, 14%, 26%);

    /* actual properties */

    --background-color: var(--white-light);
    --secondary-background-color: var(--very-light-gray-light);
    --tertiary-background-color: var(--very-light-grayish-blue-light);
    --text-color: var(--very-dark-grayish-blue-light);
    --secondary-text-color: var(--dark-grayish-blue-light);
    --done-text-color: var(--light-grayish-blue-light);
    --text-color-hover: var(--very-dark-grayish-blue-light);
    --accent-color: var(--bright-blue);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}
